{% extends 'base.html' %}
{% block content %}
{% include 'demographics_monitor/includes/nav.html' %}
<main class="main">
    <div class="section-name">
        Система комплексного полимасштабного мониторинга демографического развития Алтайского края
    </div>
    <div class="frame-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur doloremque enim fugit inventore magnam minima officia quia quibusdam sapiente sit! A accusantium amet animi architecto beatae, debitis delectus dolore doloribus dolorum eaque earum eligendi esse est excepturi facilis fuga id iste iusto minus nihil nostrum nulla omnis optio ratione sed similique voluptas voluptatibus? Delectus deserunt dolores eos exercitationem facere ipsa maiores maxime natus officiis quaerat quam, quas reiciendis repellendus sequi voluptatibus. Debitis deserunt nisi voluptate!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem, dignissimos excepturi illum inventore libero neque recusandae sint? Cum doloribus ea esse ex impedit ipsa, nesciunt obcaecati odit, officia pariatur quibusdam, quod rem soluta. Aut, praesentium, recusandae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto asperiores dolorum eos est exercitationem explicabo inventore iure laudantium minus natus neque obcaecati officiis quidem tenetur veniam veritatis, vero voluptatem! Aperiam dignissimos incidunt inventore odit sapiente, veniam? Dignissimos, libero maiores perferendis praesentium quasi rem. Esse neque placeat sequi! Adipisci, esse!</p>
    </div>
</main>
{% endblock %}