<!--<div style="background-color: yellow;">-->
{% extends 'base.html' %}

{% block content %}
{% include 'demographics_monitor/includes/nav.html' %}
<div class="caption-style">
    <h2>Основные показатели брачности и разводимости</h2>
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Показать">
</form>
<br>
<div style="overflow-x:auto;">
    <table class="table-style">
        <caption class="caption-style">
            <h3>Таблица 1 "Основные показатели брачности и разводимости населения"</h3>
        </caption>
        <tr>
            <th class="th-style" rowspan="2">Показатель</th>
            <th class="th-style" rowspan="2">Единица измерения</th>
            <th class="th-style" colspan="{{ years|length }}">Значения показателей</th>
        </tr>
        <tr>
            {% for year in years %}
            <th class="th-style">{{ year }}</th>
            {% endfor %}
        </tr>

        {% load custom_tags %}
        {% for indicator, data in data_by_indicator.items %}
        <tr class="tr-style">
            <td class="td-left-style">{{ indicator }}</td>
            <td class="td-center-style">{{ data.unit }}</td>
            {% for year in years %}
            <td class="td-right-style">{{ data.values|get_item:year }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
<br>
<hr class="hr-horizontal-gradient">
<div class="caption-style">
    <h3>Рис. 1 "Динамика числа браков, разводов и индекса разводимости"</h3>
</div>
<div class="chart-container">
    {% comment %} Городское население {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container1"></div>
        </figure>
        {% include 'demographics_monitor/includes/1-graphic-marriages.html' %}
    </div>
    {% comment %} Сельское население {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container2"></div>
        </figure>
        {% include 'demographics_monitor/includes/2-graphic-marriages.html' %}
    </div>
</div>
{% comment %} Все население {% endcomment %}
<figure class="highcharts-figure">
    <div id="container3"></div>
</figure>
{% include 'demographics_monitor/includes/3-graphic-marriages.html' %}
<br>
<br>
<br>
<hr class="hr-horizontal-gradient">
<div class="caption-style">
    <h3>Рис. 2 "Динамика числа браков, разводов и индекса разводимости в разрезе территорий"</h3>
</div>
<div class="chart-container">
    {% comment %} Браки {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container4"></div>
        </figure>
        {% include 'demographics_monitor/includes/4-graphic-marriages.html' %}
    </div>
    {% comment %} Разводы {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container5"></div>
        </figure>
        {% include 'demographics_monitor/includes/5-graphic-marriages.html' %}
    </div>
</div>
{% comment %} Индекс разводимости {% endcomment %}
<figure class="highcharts-figure">
    <div id="container6"></div>
</figure>
    {% include 'demographics_monitor/includes/6-graphic-marriages.html' %}
<br>
<br>
<br>
<hr class="hr-horizontal-gradient">
<div class="caption-style">
    <h3>Рис. 3 "Динамика общих коэффициентов брачности и разводимости"</h3>
</div>
<div class="chart-container">
    {% comment %} Городское население {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container7"></div>
        </figure>
        {% include 'demographics_monitor/includes/7-graphic-marriages.html' %}
    </div>
    {% comment %} Сельское население {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container8"></div>
        </figure>
        {% include 'demographics_monitor/includes/8-graphic-marriages.html' %}
    </div>
</div>
{% comment %} Все население {% endcomment %}
<figure class="highcharts-figure">
    <div id="container9"></div>
</figure>
{% include 'demographics_monitor/includes/9-graphic-marriages.html' %}
<br>
<br>
<br>
<hr class="hr-horizontal-gradient">
<div class="caption-style">
    <h3>Рис. 4 "Динамика общих коэффициентов брачности и разводимости в разрезе территорий"</h3>
</div>
<div class="chart-container">
    {% comment %} Коэффициент брачности {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container10"></div>
        </figure>
        {% include 'demographics_monitor/includes/10-graphic-marriages.html' %}
    </div>
    {% comment %} Коэффициент разводимости {% endcomment %}
    <div class="chart">
        <figure class="highcharts-figure">
            <div id="container11"></div>
        </figure>
        {% include 'demographics_monitor/includes/11-graphic-marriages.html' %}
    </div>
</div>




{% endblock %}