{% extends 'base.html' %}
{% block content %}
{% include 'demographics_monitor/includes/nav.html' %}

<main class="main">
    <div class="section-name">
        Основные показатели брачности и разводимости
    </div>

    <div class="menu-button" onclick="openNav()">
        ☰ Меню
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="menu-button-section">
            <form action="" method="post" class="period-selection-form">
                {% csrf_token %}
                <label for="start_date">Территория: </label>
                {{ form.territory_level }}
                <br>
                <br>
                <label for="start_date">Период с </label>
                {{ form.start_date }}
                <label for="end_date">по</label>
                {{ form.end_date }}
                <br>
                <br>
                <input type="submit" value="Показать">
            </form>
        </div>
        <a href="#table-1">Табл. 1 — Основные показатели</a>
        <a href="#figure-1">Рис. 1 — Динамика числа браков, разводов и индекса разводимости</a>
        <a href="#figure-2">Рис. 2 — Динамика общих коэффициентов брачности и разводимости</a>
        <a href="#figure-3">Рис. 3 — Сравнительная динамика общих коэффициентов брачности и разводимости, индекса разводимости в разрезе территорий</a>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "330px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>



    <div class="frame-section">
        <div class="sub-section-name" id="table-1">
            Табл. 1 — Основные показатели брачности и разводимости населения, {{ years|first }}—{{ years|last }} гг.
        </div>

        <table class="table-marriages">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Единица измерения</th>
                    {% for year in years %}
                        <th>{{ year }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% load custom_tags %}
                {% for indicator, data in data_by_indicator.items %}
                    <tr>
                        <td>{{ indicator }}</td>
                        <td>{{ data.unit }}</td>
                        {% for year in years %}
                            <td>{{ data.values|get_item:year }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="frame-section">
        <div class="sub-section-name" id="figure-1">
            Рис. 1 — Динамика числа браков, разводов и индекса разводимости
        </div>

        <figure class="highcharts-figure"><div id="container1"></div></figure>
        {% include 'demographics_monitor/includes/1-graphic-marriages-municipalities.html' %}
    </div>



    <div class="frame-section">
        <div class="sub-section-name" id="figure-2">
            Рис. 2 — Динамика общих коэффициентов брачности и разводимости
        </div>

        <figure class="highcharts-figure"><div id="container2"></div></figure>
        {% include 'demographics_monitor/includes/2-graphic-marriages-municipalities.html' %}
    </div>



    <div class="frame-section">
        <div class="sub-section-name" id="figure-3">
            Р и с. 3 — Сравнительная динамика общих коэффициентов брачности и разводимости, индекса разводимости в разрезе территорий
        </div>

        <figure class="highcharts-figure">
            <div id="container3"></div>
        </figure>
        {% include 'demographics_monitor/includes/3-graphic-marriages-municipalities.html' %}

        <figure class="highcharts-figure">
            <div id="container4"></div>
        </figure>
        {% include 'demographics_monitor/includes/4-graphic-marriages-municipalities.html' %}

        <figure class="highcharts-figure">
            <div id="container5"></div>
        </figure>
        {% include 'demographics_monitor/includes/5-graphic-marriages-municipalities.html' %}
    </div>
</main>
{% endblock %}