{% extends 'base.html' %}
{% block content %}
{% include 'demographics_monitor/includes/nav.html' %}
<main class="main">
    <div class="section-name">
        Динамика миграции по полу и возрастным группам (внешняя миграция)
    </div>

    <div class="menu-button" onclick="openNav()">
        ☰ Меню
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="menu-button-section">
            <form action="" method="post" class="period-selection-form">
                {% csrf_token %}
                <label for="start_date">Территория: </label>
                {{ form.territory_level }}

                {# Заблокируем пользователю поле Территория, так как данных по МО нет #}
                <input type="hidden" name="territory_level" id="hidden-territory-level">
                <br>
                <br>
                <label for="start_date">Период с </label>
                {{ form.start_date }}
                <label for="end_date">по</label>
                {{ form.end_date }}
                <br>
                <br>
                <input type="submit" value="Показать">
            </form>
        </div>
        <a href="#table-1">Табл. 1 — Численность мигрантов по полу и возрастным группам</a>
        <a href="#figure-1">Рис. 1 — Динамика числа прибывших в возрасте моложе тр/сп</a>
        <a href="#figure-2">Рис. 2 — Динамика числа прибывших в тр/сп возрасте</a>
        <a href="#figure-3">Рис. 3 — Динамика числа прибывших в возрасте старше тр/сп</a>
        <a href="#figure-4">Рис. 4 — Динамика числа выбывших в возрасте моложе тр/сп</a>
        <a href="#figure-5">Рис. 5 — Динамика числа выбывших в тр/сп возрасте</a>
        <a href="#figure-6">Рис. 6 — Динамика числа выбывших в возрасте старше тр/сп</a>
        <a href="#figure-7">Рис. 7 — Динамика числа прибывших мужчин</a>
        <a href="#figure-8">Рис. 8 — Динамика числа прибывших женщин</a>
        <a href="#figure-9">Рис. 9 — Динамика числа выбывших мужчин</a>
        <a href="#figure-10">Рис. 10 — Динамика числа выбывших женщин</a>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "370px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    {# Заблокируем пользователю поле Территория, так как данных по МО нет #}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var territoryField = document.querySelector('.disabled-territory');
            if (territoryField) {
                territoryField.setAttribute('disabled', 'disabled');
                document.querySelector('#hidden-territory-level').value = territoryField.value;
            }
        });
    </script>

    <div class="frame-section">
        <div class="sub-section-name" id="table-1">
            Табл. 1 — Численность мигрантов по полу и возрастным группам, Алтайский край
        </div>

        <table class="table-marriages">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Единица измерения</th>
                    {% for year in years %}
                        <th>{{ year }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% load custom_tags %}
                {% for indicator, data in data_by_indicator.items %}
                    <tr>
                        <td>{{ indicator }}</td>
                        <td>{{ data.unit }}</td>
                        {% for year in years %}
                            <td>{{ data.values|get_item:year }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-1">
            Рис. 1 — Динамика числа прибывших в возрасте моложе тр/сп
        </div>
        <figure class="highcharts-figure"><div id="container-1-440"></div></figure>
        {% include 'demographics_monitor/includes/1-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-2-440"></div></figure>
        {% include 'demographics_monitor/includes/2-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-3-440"></div></figure>
        {% include 'demographics_monitor/includes/3-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-2">
            Рис. 2 — Динамика числа прибывших в тр/сп возрасте
        </div>
        <figure class="highcharts-figure"><div id="container-4-440"></div></figure>
        {% include 'demographics_monitor/includes/4-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-5-440"></div></figure>
        {% include 'demographics_monitor/includes/5-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-6-440"></div></figure>
        {% include 'demographics_monitor/includes/6-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-3">
            Рис. 3 — Динамика числа прибывших в возрасте старше тр/сп
        </div>
        <figure class="highcharts-figure"><div id="container-7-440"></div></figure>
        {% include 'demographics_monitor/includes/7-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-8-440"></div></figure>
        {% include 'demographics_monitor/includes/8-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-9-440"></div></figure>
        {% include 'demographics_monitor/includes/9-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-4">
            Рис. 4 — Динамика числа выбывших в возрасте моложе тр/сп
        </div>
        <figure class="highcharts-figure"><div id="container-10-440"></div></figure>
        {% include 'demographics_monitor/includes/10-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-11-440"></div></figure>
        {% include 'demographics_monitor/includes/11-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-12-440"></div></figure>
        {% include 'demographics_monitor/includes/12-graphic-migration-gender-age.html' %}
    </div>


    <div class="frame-section">
        <div class="sub-section-name" id="figure-5">
            Рис. 5 — Динамика числа выбывших в тр/сп возрасте
        </div>
        <figure class="highcharts-figure"><div id="container-13-440"></div></figure>
        {% include 'demographics_monitor/includes/13-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-14-440"></div></figure>
        {% include 'demographics_monitor/includes/14-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-15-440"></div></figure>
        {% include 'demographics_monitor/includes/15-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-6">
            Рис. 6 — Динамика числа выбывших в возрасте старше тр/сп
        </div>
        <figure class="highcharts-figure"><div id="container-16-440"></div></figure>
        {% include 'demographics_monitor/includes/16-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-17-440"></div></figure>
        {% include 'demographics_monitor/includes/17-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-18-440"></div></figure>
        {% include 'demographics_monitor/includes/18-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-7">
            Рис. 7 — Динамика числа прибывших мужчин
        </div>
        <figure class="highcharts-figure"><div id="container-19-440"></div></figure>
        {% include 'demographics_monitor/includes/19-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-20-440"></div></figure>
        {% include 'demographics_monitor/includes/20-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-21-440"></div></figure>
        {% include 'demographics_monitor/includes/21-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-8">
            Рис. 8 — Динамика числа прибывших женщин
        </div>
        <figure class="highcharts-figure"><div id="container-22-440"></div></figure>
        {% include 'demographics_monitor/includes/22-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-23-440"></div></figure>
        {% include 'demographics_monitor/includes/23-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-24-440"></div></figure>
        {% include 'demographics_monitor/includes/24-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-9">
            Рис. 9 — Динамика числа выбывших мужчин
        </div>
        <figure class="highcharts-figure"><div id="container-25-440"></div></figure>
        {% include 'demographics_monitor/includes/25-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-26-440"></div></figure>
        {% include 'demographics_monitor/includes/26-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-27-440"></div></figure>
        {% include 'demographics_monitor/includes/27-graphic-migration-gender-age.html' %}
    </div>

    <div class="frame-section">
        <div class="sub-section-name" id="figure-10">
            Рис. 10 — Динамика числа выбывших женщин
        </div>
        <figure class="highcharts-figure"><div id="container-28-440"></div></figure>
        {% include 'demographics_monitor/includes/28-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-29-440"></div></figure>
        {% include 'demographics_monitor/includes/29-graphic-migration-gender-age.html' %}
        <figure class="highcharts-figure"><div id="container-30-440"></div></figure>
        {% include 'demographics_monitor/includes/30-graphic-migration-gender-age.html' %}
    </div>

</main>
{% endblock %}