{% extends 'base.html' %}
{% block content %}
{% include 'demographics_monitor/includes/nav.html' %}
<main class="main">
    <div class="section-name">
        Численность и структура населения
    </div>
    {% load static %}
    <div class="sub-section-name">
        <div class="attention-block">
            <img src="{% static 'demographics_monitor/images/attention.png' %}" alt="" class="attention">САЙТ В РАЗРАБОТКЕ...
        </div>
    </div>
    <div class="frame-section-text">
        <p>Наш сайт находится в стадии разработки!</p>
        <p>Для просмотра и тестирования доступен раздел <b>"Браки и разводы - Основные показатели брачности и разводимости."</b></p>
        <p>Следите за обновлениями в разделе <b>"Новости"</b></p>
    </div>
</main>
{% endblock %}