<script>
    Highcharts.chart('container10', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Общий коэффициент брачности, {{ years|first }}—{{ years|last }} гг.',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left',
            style: {
                        color: 'black'
                    }
        },
        xAxis: {
            labels: {
                style: {
                    color: 'black'
                }
            },
            categories: {{ years|safe }},
            crosshair: true,
            accessibility: {
                description: 'Countries'
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: 'black'
                }
            },
            title: {
                text: 'на 1 000 человек населения',
                style: {
                        color: 'black'
                    }
            }
        },
        tooltip: {
            valueSuffix: ' на 1 000 человек населения'
        },
        plotOptions: {
            column: {
                pointPadding: 0.05,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Городская местность',
                data: {{ values10|safe }},
                color: '#418198'
            },
            {
                name: 'Сельская местность',
                data: {{ values12|safe }},
                color: '#71a0b2'
            },
            {
                name: 'Алтайский край',
                type: 'line',
                data: {{ values14|safe }},
                color: '#12627e'
            }
        ]
    });
</script>