<script>
    Highcharts.chart('container20', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Миграционный прирост в АК за счет стран, {{ years|last }} г.',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left'
        },
        xAxis: {
            categories: {{ nations|safe }},
            title: {
                text: null
            },
            gridLineWidth: 1,
            lineWidth: 0
        },
        yAxis: {
            title: {
                text: 'человек',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            },
            gridLineWidth: 0
        },
        tooltip: {
            valueSuffix: ' человек'
        },
        plotOptions: {
            bar: {
                borderRadius: '15%',
                dataLabels: {
                    enabled: true
                },
                groupPadding: 0.1
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Год: {{ years|last }}',
            data: {{ values_colors_nations|safe }}
        }]
    });
</script>