<script>
    Highcharts.chart('container3', {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Алтайский край, {{ years|first }}—{{ years|last }} гг.',
                align: 'center'
            },
            subtitle: {
                text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
                align: 'left',
                style: {
                        color: 'black'
                    }
            },
            xAxis: [{
                labels: {
                    style: {
                        color: 'black'
                    }
                },
                categories: {{ years|safe }},
                crosshair: true
            }],
            yAxis: [{
                title: {
                    text: 'единиц',
                    style: {
                        color: 'black'
                    }
                },
                labels: {
                    formatter: function() {
                        return this.value; // Возвращает значение метки без изменений
                    },
                    style: {
                        color: 'black'
                    }
                },
            }, {
                min: 0,
                labels: {
                    style: {
                        color: 'black'
                    }
                },
                title: {
                    text: 'разводов на 100 бр.',
                    style: {
                        color: 'black'
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.05,
                    borderWidth: 0
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                floating: false,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || 'rgba(255,255,255,0.25)'
            },
            series: [{
                name: 'Браки',
                type: 'column',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                color: '#12627e',
                data: {{ values1|safe }},
                tooltip: {
                    valueSuffix: ' единиц'
                }
            }, {
                name: 'Разводы',
                type: 'column',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                color: '#D22929',
                data: {{ values2|safe }},
                tooltip: {
                    valueSuffix: ' единиц'
                }
            }, {
                name: 'Индекс разводимости',
                type: 'spline',
                dataLabels: {
                    enabled: true,
                    y: -30, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                yAxis: 1,
                color: '#D22929',
                data: {{ values3|safe }},
                tooltip: {
                    valueSuffix: ' разводов на 100 бр.'
                }
            }]
        });
</script>