<script>
    Highcharts.chart('container-3-440', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Ожидаемая продолжительность жизни при рождении, {{ years|first }}—{{ years|last }} гг.',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left',
            style: {
                        color: 'black'
                    }
        },
        xAxis: {
            labels: {
                style: {
                    color: 'black'
                }
            },
            categories: {{ years|safe }},
            crosshair: true,
            accessibility: {
                description: 'Countries'
            }
        },
        yAxis: {
            min: 60,
            labels: {
                formatter: function() {
                        return this.value; // Возвращает значение метки без изменений
                    },
                style: {
                    color: 'black'
                }
            },
            title: {
                text: 'лет',
                style: {
                        color: 'black'
                    }
            }
        },
        tooltip: {
            valueSuffix: ' лет'
        },
        plotOptions: {
            column: {
                pointPadding: 0.05,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Городская местность',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values.10|safe }},
                color: '#418198'
            },
            {
                name: 'Сельская местность',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values.11|safe }},
                color: '#71a0b2'
            },
            {
                name: 'Алтайский край',
                dataLabels: {
                    enabled: true,
                    y: -30, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                type: 'line',
                data: {{ values.9|safe }},
                color: '#12627e'
            }
        ]
    });
</script>