<script>
    Highcharts.chart('container-4-440', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Алтайский край, {{ years|first }}—{{ years|last }} гг.',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left',
            style: {
                        color: 'black'
                    }
        },
        xAxis: {
            labels: {
                style: {
                    color: 'black'
                }
            },
            categories: {{ years|safe }},
            crosshair: true,
            accessibility: {
                description: 'Countries'
            }
        },
        yAxis: {
            min: 0,
            labels: {
                formatter: function() {
                        return this.value; // Возвращает значение метки без изменений
                    },
                style: {
                    color: 'black'
                }
            },
            title: {
                text: 'человек',
                style: {
                        color: 'black'
                    }
            }
        },
        tooltip: {
            valueSuffix: ' человек'
        },
        plotOptions: {
            column: {
                pointPadding: 0.05,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Выбывшие в возрасте моложе тр/сп',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values.9|safe }},
                color: '#d22929'
            },
            {
                name: 'Выбывшие в возрасте старше тр/сп',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values.15|safe }},
                color: '#d22929'
            },
            {
                name: 'Выбывшие в тр/сп возрасте',
                type: 'line',
                dataLabels: {
                    enabled: true,
                    y: -30, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values.12|safe }},
                color: '#d22929'
            }
        ]
    });
</script>