<script>
    Highcharts.chart('container4', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Общий коэффициент разводимости, {{ years|first }}—{{ years|last }} гг.',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left',
            style: {
                        color: 'black'
                    }
        },
        xAxis: {
            labels: {
                style: {
                    color: 'black'
                }
            },
            categories: {{ years|safe }},
            crosshair: true,
            accessibility: {
                description: 'Countries'
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: 'black'
                }
            },
            title: {
                text: 'разводов на 1 000 человек населения',
                style: {
                        color: 'black'
                    }
            }
        },
        tooltip: {
            valueSuffix: ' разводов на 1 000 человек населения'
        },
        plotOptions: {
            column: {
                pointPadding: 0.05,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Городская местность',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values8|safe }},
                color: '#db5454'
            },
            {
                name: 'Сельская местность',
                dataLabels: {
                    enabled: true,
                    y: -20, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                data: {{ values9|safe }},
                color: '#e47f7f'
            },
            {
                name: '{{ selected_territory }}',
                dataLabels: {
                    enabled: true,
                    y: -30, // Смещение по вертикали для лучшего отображения
                    verticalAlign: 'top' // Выравнивание по верхнему краю столбца
                },
                type: 'line',
                data: {{ values5|safe }},
                color: '#d22929'
            }
        ]
    });
</script>