<script>
    Highcharts.chart('container5', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Разводы',
            align: 'center'
        },
        subtitle: {
            text: 'Источник: <a target="_blank" ' + 'href="https://rosstat.gov.ru/">Федеральная служба государственной статистики</a>',
            align: 'left',
            style: {
                        color: 'black'
                    }
        },
        xAxis: {
            labels: {
                style: {
                    color: 'black'
                }
            },
            categories: {{ years|safe }},
            crosshair: true,
            accessibility: {
                description: 'Countries'
            }
        },
        yAxis: {
            min: 0,
            labels: {
                style: {
                    color: 'black'
                }
            },
            title: {
                text: '1 000 единиц',
                style: {
                        color: 'black'
                    }
            }
        },
        tooltip: {
            valueSuffix: ' единиц'
        },
        plotOptions: {
            column: {
                pointPadding: 0.05,
                borderWidth: 0
            }
        },
        series: [
            {
                name: 'Городская местность',
                data: {{ values5|safe }},
                color: '#dc4c4c'
            },
            {
                name: 'Сельская местность',
                data: {{ values8|safe }},
                color: '#e17070'
            },
            {
                name: 'Алтайский край',
                type: 'line',
                data: {{ values2|safe }},
                color: '#d22929'
            }
        ]
    });
</script>