<script>
    Highcharts.mapChart('container_divorces_coefficient', {
        title: {
            text: 'Число выбывших в результате внутрикраевой миграции, {{ years|last }} г.'
        },
        colorAxis: {
            minColor: '#ffffff', // белый
            maxColor: '#d22929'  // темнее синий
        },
        legend: {
            align: 'left',
            floating: true,
            title: {
                text: 'человек'
            }
        },
        mapNavigation: {
            enabled: true
        },
        series: [{
            data: {{ departed_map|safe}},
            name: 'человек',
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }]
    });
</script>