.highcharts-figure,
.highcharts-data-table table {
    min-width: 500px;
    max-width: 1150px;
    margin: 1em auto;
}

#container-1-440,
#container-2-440,
#container-3-440,
#container-4-440,
#container-5-440,
#container-6-440,
#container-7-440,
#container-8-440,
#container-9-440,
#container-10-440,
#container-11-440,
#container-12-440,
#container-13-440,
#container-14-440,
#container-15-440,
#container-16-440,
#container-17-440,
#container-18-440,
#container-19-440,
#container-20-440,
#container-21-440,
#container-22-440,
#container-23-440,
#container-24-440,
#container-25-440,
#container-26-440,
#container-27-440,
#container-28-440,
#container-29-440,
#container-30-440,
#container1,
#container2,
#container3,
#container4,
#container5,
#container6,
#container7,
#container8,
#container9,
#container10,
#container11,
#container012,
#container013,
#container014,
#container15,
#container16,
#container17,
#container18 {
    min-height: 440px;
}

#container_1_900,
#container_2_900,
#container_marriage,
#container_divorces_coefficient,
#container_divorces_index {
    min-height: 900px;
    margin: 0 auto;
}

#container_1_2300,
#container_2_2300,
#container12,
#container13,
#container14,
#container19 {
    min-height: 2300px;
}

#container20 {
    min-height: 800px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    /* margin: 10px auto; */
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}