.container {
    display: flex;
    align-items: center;
}

.logo {
    width: auto;
    height:  80px; /* Высота логотипов */
    margin-right:  10px; /* Расстояние между логотипами */
}

.text {
    white-space: nowrap; /* Текст не переносится на новую строку */
    overflow: hidden; /* Текст, выходящий за границы блока, скрывается */
    text-overflow: ellipsis; /* Добавляется многоточие, если текст не помещается */
    max-width:  100%; /* Ограничение ширины блока текста */
}