/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #73122C; }
.My-Color-Theme-2-hex { color: #BFB30F; }
.My-Color-Theme-3-hex { color: #BE3156; }
.My-Color-Theme-4-hex { color: #1F98BF; }
.My-Color-Theme-5-hex { color: #185C73; }

body {    
    font-family: "Lato", sans-serif;  /* Загружен шрифт Lato */
    font-weight: 400;  /* жирность шрифта */
    font-style: normal;  /* стиль шрифта */
    line-height: 1.5;  /* межстрочный интервал */
    color: #2E2E2E;
}

.header {
    padding: 0 15px 0 15px;  /* внутренний отступ */
    background-color: #185C73;  /* цвет заливки */
}

/* div */
.container {
    max-width: 1600px;  /* максимальная ширина, мониторы в основном 1920 х 1080*/
    margin: 0 auto;  /* блок центрируется по горизонтали, верхний и нижний отступ 0 */
}

/* nav для навигационной панели - логотип, меню и войти*/
.nav {
    padding: 0 10px 0 10px;  /* внутренний отступ */
    display: flex;  /* гибкий контейнер элементы по горизонтали, так как контейнер по горизонтали*/
    justify-content: space-between;  /* левый дочерний элемент слева, правый с права, остальные по центру! */
    align-items: center;  /* выравнивание вдоль оси по центру (по вертикали по центру) */
}

/* img логотип */
.logo {
    margin: 10px 0 10px 0;
    width: 60px;
    box-sizing: border-box;

}

/* ul для меню */
.menu {
    display: flex;  /* расположение по горизонтали */
    list-style: none;  /* убираем перед пунктами меню точки */
    padding: 0;
    margin: 0;
}

/* li - пункты меню */
.menu-item {
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/* при наведении увеличиваем в размере текст */
.menu-item:hover {
    transform: scale(1.3);
}

/* Название раздела */
.header2 {
    padding: 0 15px 0 15px;  /* внутренний отступ */
}

.container2 {
    max-width: 1600px;
    margin: 5px auto;
    background-color: #BE3156;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);
}

.title {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

/* Навигация разделы */
.nav2 {
    display: flex;  /* гибкий контейнер элементы по горизонтали, так как контейнер по горизонтали*/
    justify-content: center;  /* левый дочерний элемент слева, правый с права, остальные по центру! */
    align-items: center;  /* выравнивание вдоль оси по центру (по вертикали по центру) */
    padding-top: 5px;
}

/* стили для кнопок разделов */
.dropdown {
    position: relative;  /* дочерние элементы будут позиционироваться относительно этого документа */
    display: inline-block;  
}

/* button - кнопка */
.dropbtn {
    padding: 15px 48px 15px 48px;
    font-size: 1rem;  /* размер шрифта */
    font-weight: 700;  /* жирность шрифта */
    color: white;
    background-color: #1F98BF;
    border: 5px solid white;  /* изменение цвета границы */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* Выпадающий список */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0pх #000033; */
    z-index: 1;
    background-color: #185C73;
    border: 2px solid white;  /* изменение цвета границы */
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета при наведении */
.dropdown:hover .dropbtn {
    background-color: #185C73;
}

.dropdown-content a:hover {
    background-color: #1F98BF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* содержимое страницы*/
.main {
    padding: 0 15px 0 15px;  /* внутренний отступ */
}

/* универсальный контейнер для всех остальных блоков */
.container-universal {
    max-width: 1600px;  /* максимальная ширина, мониторы в основном 1920 х 1080*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: #BFB30F; */
}

/* форма */
.period-selection-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.period-selection-form label {
    margin: 10px;
}

.period-selection-form input[type="submit"] {
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #185C73;
    color: white;
    font-weight: 700;
}

/* горизонтальные линия для отделения блоков */
.hr-horizontal-gradient {
    width:  100%;
    margin: 10px 0 30px 0;
    height: 5px;
    border: none;
    background: linear-gradient(45deg, #185C73, white);
}

.highcharts-figure {
    min-width: 800px;
    margin: 0 0px 0 0px;
}

.highcharts-credits {
    display: none;
}

/* Для названия разделов */
.section-title {
    font-size: 1.3rem;
    font-weight: 700;
    /* color: #272727; */
}

/* Закрепим на верху название подраздела */
#navbar {
    overflow: hidden;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}