/* Color Theme Swatches in Hex */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #153649;
    line-height: 22px;
    background-color: #ecf3f4;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*
Для шапки header
 */

.header {
    background-color: #153649;
    margin-bottom: 5px;
    padding: 5px 0 5px;
    font-weight: 700;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

/*именно этот раздел делаем flex*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 60px;
}

a {
    text-decoration: none;
    color: inherit;  /*возьмет который у родителя*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    display: flex;
}

.menu-item {
    padding-right: 30px;
}

/*
Вторая навигация
*/

.header-section {
    padding: 5px 0 5px;
    color: #ffffff;
}

.header-section .container {
    background-color: #365E78;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    /*border-radius: 8px;*/
}

.dropdown .dropbtn {
    background-color: inherit;  /*фон кнопок - наследуем от родителя*/
    border: none;
    color: #ffffff;
    margin: 0;
    outline: none;
    padding: 15px;
}

.header-section .container a :hover, .dropdown:hover .dropbtn {
    background-color: #477c9f;  /*при наведении*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #153649;  /*выпадающий список*/
    min-width: 285px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    /*border-radius: 8px;*/
}

.dropdown .dropdown-content a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #365e78;  /*при наведении на ссылку в списке*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    padding: 5px 0 5px;
    flex: 1;
}

.section-name {
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
    background-color: #477C9F;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    /*border-radius: 8px;*/
}

.sub-section-name,
.sub-section-name-contents {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 0 10px 10px;
    font-weight: 700;
    font-size: 1.25em;
    text-align: left;
}

.sub-section-name-contents {
    text-align: center;
}

.frame-section,
.frame-section-text {
    margin: 15px auto;
    max-width: 1200px;
    padding: 15px 15px 0 15px;
    border: 1px solid #729ca2;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    /*border-radius: 8px;*/
    background-color: #ffffff;
}

.frame-section {
    text-align: center;
}

.frame-section-text {
    text-align: left;
}

label {
    color: inherit;
    font-size: inherit;
}
select {
    color: inherit;
    border-color: #365E78;
    font-weight: 700;
}

input {
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 700;
    font-family: inherit;
    background-color: #365E78;
}

/*ТАБЛИЦА*/
.table-marriages {
    border: none;
    margin: 10px auto;  /*по центру*/
    border-collapse: collapse;
}

.table-marriages thead th {
    padding: 10px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    border-top: 3px solid #446B83;
    border-bottom: 3px solid #446B83;
}

.table-marriages tbody td {
    padding: 10px;
    line-height: 20px;
    border-bottom: 1px solid #446B83;
    text-align: left;
}

/*Подвал*/
.footer {
    background-color: #153649;
    padding: 15px 0 15px;
    font-weight: 700;
    color: #ffffff;
}

.attention-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.attention {
    margin-right: 15px;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    align-items: center;
    left: 0;
    background: #365E78;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    font-weight: 700;
}

.sidenav .closebtn {
    font-size: 36px;
    text-align: right;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.period-selection-form {
    font-weight: 700;
}

.btn {
    background-color: #477c9f;
    border: none;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.menu-button {
    font-weight: 700;
    font-size: 1.25em;
    cursor: pointer;
    margin-left: 10px;
    overflow: hidden;
    position: fixed;
    padding: 15px;
    background: #365E78;
    color: #ffffff;
    z-index: 1;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}

.menu-button-section {
    margin: 10px;
    max-width: 1200px;
    padding: 10px 5px 10px 5px;
    background-color: #ffffff;
    text-align: center;
}