/* Устанавливаем горизонтальное расположение пунктов меню */
#menu {
    display: flex; /* Используем flexbox для горизонтального расположения */
    list-style-type: none; /* Убираем маркеры списка */
    padding:  0; /* Убираем отступы */
}

/* Стили для ссылок в меню */
#menu li a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста */
    transition: color  0.3s ease; /* Анимация изменения цвета */
}

/* Эффект при наведении мыши */
#menu li a:hover {
    color: green; /* Изменяем цвет текста на зеленый при наведении */
}

#menu li {
    margin-right:  40px; /* Убираем отступ справа */
}

#menu li:last-child {
    margin-right:  0; /* Убираем отступ справа у последнего элемента */
}