.special-row {
    background-color: white;
}

.styled-table {
    border-collapse: collapse;
    border-spacing:  0;
    border:  1px solid #ddd;
}

.styled-table th, .styled-table td {
    text-align: left;
    padding:  8px;
}

.styled-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}